// Color scheme.

// Base Palette

purple-base-color = rgba(147, 98, 148, 1)
yellow-base-color = rgba(226, 182, 71, 1)
red-base-color = rgba(222, 75, 77, 1)
black-base-color = rgba(33, 52, 59, 1)
green-base-color = rgba(104, 180, 76, 1)

// Base Grays Palette
darker-base-gray = rgba(166, 166, 166, 1)
dark-base-gray = rgba(220, 220, 220, 1)
regular-base-gray = rgba(232, 232, 232, 1)
light-base-gray = rgba(240, 240, 240, 1)

// ui color stack
dark-primary-color = rgba(229, 6, 89, 1)
primary-color = rgba(242, 82, 141, 1)
light-primary-color = rgba(251, 172, 201, 1)
accent-color = rgba(161, 217, 116, 1)


// Text colors.
light-text-icons-color = #FEFEFE
dark-text-icons-color = #040404
light-primary-text-color = #FEFEFE
light-secondary-text-color = #757575
dark-primary-text-color = #212121

// Neutral colors.
divider-color = #BDBDBD
warning-color = rgba(254, 203, 0, 1)
error-color = rgba(244, 55, 55, 1)

//font settings

@font-face
  font-family 'andika_new_basicregular'
  font-weight normal
  font-style normal
  src url('/static/fonts/andika/andikanewbasic-r-webfont.woff'),
  url('/static/fonts/andika/andikanewbasic-r-webfont.woff2')

primary-font-normal = 'andika_new_basicregular'
//defaults

.wrapper
  background-color accent-color
