// Color variables

dark-primary-color = rgba(229, 6, 89, 1)
primary-color = rgba(242, 82, 141, 1)
light-primary-color = rgba(251, 172, 201, 1)
accent-color = rgba(161, 217, 116, 1)

light-text-icons-color = #FEFEFE
dark-text-icons-color = #010101
light-primary-text-color = #FEFEFE
light-secondary-text-color = #757575
dark-primary-text-color = #212121
divider-color = #BDBDBD
