*.pyc
__pycache__
node_modules
auth-service/migrations
env/auth-service/authservice_secrets.env
env/web-platform/webplatform_secrets.env
env/auth-service/authservice_pg_secrets.env
env/auth-service/authservice_db_secrets.env
env/auth-service/authservice_super_permissions_secrets.env
env/core/core_secrets.env
env/core/core_db_secrets.env
env/core/core_pg_secrets.env
npm-debug.log
web-platform/static/css/*
!web-platform/static/css
web-platform/public/*
web-platform/static/bin/*.js
!web-platform/static/bin
core/migrations
core/config
