.admin-header
  overflow hidden
  grid()
  align-items center
  box-sizing border-box
  height 4.0625rem
  background-color light-text-icons-color
  border-bottom 0.2rem solid light-primary-color
  &__logo
    margin 0 1rem
    height 20px
