.admin-header
  background-color rgba(254, 254, 254, .8)
  overflow hidden
  grid()
  align-items center
  box-sizing content-box
  background-color light-text-icons-color
  border-bottom rem-calc(2) solid light-primary-color
  box-shadow 0 0 rem-calc(20) rgba(0,0,0,.4)
  z-index 44
  &__logo-container
    position relative
    width rem-calc(150)
    margin 0
    height rem-calc(55)
    &__img
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      margin auto
      max-width 80%
      max-height 80%
