.section-login-container
  font-family primary-font-normal
  background-image url('/static/bg/crossword.png')
  background-repeat repeat
  grid()
  overflow hidden
  z-index 10
  &__form
    stack()
    grid('row', justify: 'center')
    background-color rgba(250, 250, 250, .6)
    box-sizing border-box
    border rem-calc(1) solid divider-color
    border-radius rem-calc(5)
    &__field
      margin rem-calc(15) auto 0 auto
    &__btn
      margin rem-calc(15) auto
    &__message-error
      stack()
      color error-color
      display block
      margin rem-calc(0) auto rem-calc(0) auto
