.btn
  font-size rem-calc(16)
  font-family primary-font-normal
  padding rem-calc(10)
  background-color divider-color
  border 0
  border-radius rem-calc(4)
  color light-primary-text-color
  &--login
    background-color accent-color
