.area-detail
  overflow hidden
  width 100%
  position fixed
  height calc(100vh - 64px)
  bottom 0
  background-color gray-base-regular
  box-shadow 0 0 rem-calc(20) shadow-darknest-color
  z-index 3
  &--hide
    bottom -100%
  &__figure
    margin rem-calc(20) auto
    background-color gray-base-darker
    width rem-calc(80)
    height rem-calc(80)
    border-radius 50%
    position relative
    &__img
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      max-width 100%
      max-height 100%
  &__name
    display block
    margin 0 auto rem-calc(20) auto

.section-login
  font-family font-primary-normal
  background-color gray-base-light
  grid('row', 'center', justify: 'center')
  overflow hidden
  height calc(100vh - 64px)
  z-index 3
  &--users
    position relative
    background-color dark-black-color
    z-index 3
    &::before
      background-image url('/static/bg/users.jpg')
      background-size cover
      background-position center
      filter blur(4px)
      content ' '
      height 100%
      width 100%
      position absolute
      z-index 2
    &::after
      position absolute
      content ' '
      height 100%
      width 100%
      z-index 3
      background-color shadow-darknest-color
  &--admin
    background-image url('/static/bg/crossword.png')
    background-repeat repeat
  &__section-welcome
    stack()
    text-align center
    z-index 4
    font-size rem-calc(28)
  &__form
    stack()
    grid('row', justify: 'center')
    background-color dark-accent-transparent-color
    box-sizing border-box
    border rem-calc(1) solid dark-black-color
    border-radius rem-calc(4)
    z-index 4
    &__field
      margin rem-calc(15) auto 0 auto
    &__btn
      margin rem-calc(15) 0
      width 90%
    &__message-error
      text-align center
      stack()
      color error-color
      display block
      margin rem-calc(0) auto rem-calc(15) auto

.floating-login
  grid('row', 'center', justify: 'center')
  width 100%
  padding 10%
  background-color dark-accent-color
  position absolute
  z-index 4
  &--hide
    display none
  &__input
    cell(1,1, 'center', g: 16)
  &__btn
    width 100%
    margin-top rem-calc(8)
  &__message
    margin-top rem-calc(16)
    color error-color
    &--hide
      display none
