.body
  margin 0
  width 100%
  grid('row', 'center', justify: 'center')
  background-color gray-base-light
  color text-dark-primary-color
  &--header-fixed
    margin-top rem-calc(64)

.body-app
  margin 0
  width 100%
  height calc(100vh - 64px)
  position relative
