.area-item
  grid('row', 'center', justify: 'center')
  overflow hidden
  height rem-calc(70)
  background-color regular-base-gray
  border-bottom rem-calc(2) solid divider-color
  &:last-child
    border-bottom 0
  &__figure
    background-color darker-base-gray
    margin 0
    width rem-calc(45)
    height rem-calc(45)
    position relative
    border-radius 50%
    overflow hidden
    margin-right rem-calc(10)
    &__img
      background-color darker-base-gray
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      margin auto
      max-height 100%
      max-height 100%
  &__name
    cell(1, 2)
