@font-face
  font-family 'andika_new_basicregular'
  font-weight normal
  font-style normal
  src url('/static/fonts/andika/andikanewbasic-r-webfont.woff'),
  url('/static/fonts/andika/andikanewbasic-r-webfont.woff2')

@font-face
  font-family 'graviola'
  font-weight normal
  font-style normal
  src url(/static/fonts/graviola/graviola-regular-webfont.eot)
  src url(/static/fonts/graviola/graviola-regular-webfont.eot?#iefix) format('embedded-opentype'),
  url('/static/fonts/graviola/graviola-regular-webfont.woff2') format('woff2'),
  url('/static/fonts/graviola/graviola-regular-webfont.woff') format('woff'),
  url('/static/fonts/graviola/graviola-regular-webfont.ttf') format('truetype'),
  url('/static/fonts/graviola/graviola-regular-webfont.svg#graviolaregular') format('svg')
