border-top-right-left(n, color)
  border-top n solid color
  border-left n solid color
  border-right n solid color

img-center(w, h)
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  margin auto
  max-width w
  max-height h
