.input
  color dark-primary-text-color
  font-family primary-font-normal
  font-size rem-calc(16)
  padding rem-calc(8)
  border-radius rem-calc(4)
  border rem-calc(2) solid divider-color
  &--active
    border-color accent-color
  &--error
    border-color error-color
  &--warning
    border-color warning-color

.input-border-bottom
  color dark-primary-text-color
  font-family primary-font-normal
  background-color transparent
  font-size rem-calc(20)
  border 0
  padding rem-calc(4) 0
  border-bottom rem-calc(2) solid accent-color
